<a href="https://colab.research.google.com/github/ajaysaikiran2208/PySpark/blob/main/Logistic_regression_using_PySpark_for_predicting_credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 91kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 21.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=023b51674a806a3bcf695ca9871c7a809ba6bdb3fc30b941ae070642415d8c39
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [10]:
import pyspark
from pyspark.sql import SparkSession  #The entry point for programming spark with datasets and data API

In [11]:
#create instance of spark class
spark=SparkSession.builder.appName('credit_card').getOrCreate()  #The entry point into all functionality in Spark is the SparkSession class. To create a basic SparkSession, just use SparkSession.builder():

In [ ]:
import pandas as pd

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
#create spark dataframe of input csv file
df=spark.read.csv('/content/creditcard.csv'
                  ,inferSchema=True,header=True)
df.show(10)

+----+------------------+-------------------+------------------+------------------+-------------------+-------------------+--------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------+-----+
|Time|                V1|                 V2|                V3|                V4|                 V5|                 V6|                  V7|                V8|                V9|                V10|               V11|               V12|               V13|               V14|               V15|                V16|                V17|                V18|                V19|                V20|                 V21|                V22|                V23|               V24|                V25|                V26|                 V27|                V28|Amount|Class|
+----+------------------+-------------------+------------------+------------------+-------------------+-------------------+--------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------+-----+
| 0.0|  -1.3598071336738|-0.0727811733098497|  2.53634673796914|  1.37815522427443| -0.338320769942518|  0.462387777762292|   0.239598554061257|0.0986979012610507| 0.363786969611213| 0.0907941719789316|-0.551599533260813|-0.617800855762348|-0.991389847235408|-0.311169353699879|  1.46817697209427| -0.470400525259478|  0.207971241929242| 0.0257905801985591|  0.403992960255733|  0.251412098239705|  -0.018306777944153|  0.277837575558899| -0.110473910188767|0.0669280749146731|  0.128539358273528| -0.189114843888824|   0.133558376740387|-0.0210530534538215|149.62|    0|
| 0.0|  1.19185711131486|   0.26615071205963|  0.16648011335321| 0.448154078460911| 0.0600176492822243|-0.0823608088155687| -0.0788029833323113|0.0851016549148104|-0.255425128109186| -0.166974414004614|  1.61272666105479|  1.06523531137287|  0.48909501589608|-0.143772296441519| 0.635558093258208|  0.463917041022171| -0.114804663102346| -0.183361270123994| -0.145783041325259|-0.0690831352230203|  -0.225775248033138| -0.638671952771851|  0.101288021253234|-0.339846475529127|  0.167170404418143|  0.125894532368176|-0.00898309914322813| 0.0147241691924927|  2.69|    0|
| 1.0| -1.35835406159823|  -1.34016307473609|  1.77320934263119| 0.379779593034328| -0.503198133318193|   1.80049938079263|   0.791460956450422| 0.247675786588991| -1.51465432260583|  0.207642865216696| 0.624501459424895| 0.066083685268831| 0.717292731410831|-0.165945922763554|  2.34586494901581|  -2.89008319444231|   1.10996937869599| -0.121359313195888|  -2.26185709530414|  0.524979725224404|   0.247998153469754|  0.771679401917229|  0.909412262347719|-0.689280956490685| -0.327641833735251| -0.139096571514147| -0.0553527940384261|-0.0597518405929204|378.66|    0|
| 1.0|-0.966271711572087| -0.185226008082898|  1.79299333957872|-0.863291275036453|-0.0103088796030823|   1.24720316752486|    0.23760893977178| 0.377435874652262| -1.38702406270197|-0.0549519224713749|-0.226487263835401| 0.178228225877303| 0.507756869957169| -0.28792374549456|-0.631418117709045|   -1.0596472454325| -0.684092786345479|   1.96577500349538|   -1.2326219700892| -0.208037781160366|  -0.108300452035545|0.00527359678253453| -0.190320518742841| -1.17557533186321|  0.647376034602038| -0.221928844458407|  0.0627228487293033| 0.0614576285006353| 123.5|    0|
| 2.0| -1.15823309349523|  0.877736754848451|    1.548717846511| 0.403033933955121| -0.407193377311653| 0.0959214624684256|   0.592940745385545|-0.270532677192282| 0.817739308235294|  0.753074431976354|-0.822842877946363|  0.53819555014995|   1.3458515932154| -1.11966983471731| 0.175121130008994| -0.451449182813529| -0.237033239362776|-0.0381947870352842|  0.803486924960175|  0.408542360392758|-0.00943069713232919|   0.79827849458971| -0.137458079619063| 0.141266983824769| -0.206009587619756|  0.502292224181569|   0.219422229513348|  0.215153147499206| 69.99|    0|
| 2.0|-0.425965884412454|  0.960523044882985|  1.14110934232219|-0.168252079760302|   0.42098688077219|-0.0297275516639742|   0.476200948720027| 0.260314333074874| -0.56867137571251| -0.371407196834471|  1.34126198001957| 0.359893837038039|-0.358090652573631|-0.137133700217612| 0.517616806555742|  0.401725895589603|-0.0581328233640131| 0.0686531494425432|-0.0331937877876282| 0.0849676720682049|  -0.208253514656728| -0.559824796253248|-0.0263976679795373|-0.371426583174346| -0.232793816737034|  0.105914779097957|   0.253844224739337| 0.0810802569229443|  3.67|    0|
| 4.0|  1.22965763450793|  0.141003507049326|0.0453707735899449|  1.20261273673594|  0.191880988597645|  0.272708122899098|-0.00515900288250983|0.0812129398830894| 0.464959994783886|-0.0992543211289237| -1.41690724314928|-0.153825826253651| -0.75106271556262|  0.16737196252175|0.0501435942254188| -0.443586797916727|0.00282051247234708|  -0.61198733994012|-0.0455750446637976|  -0.21963255278686|  -0.167716265815783| -0.270709726172363| -0.154103786809305|-0.780055415004671|   0.75013693580659| -0.257236845917139|  0.0345074297438413|0.00516776890624916|  4.99|    0|
| 7.0|-0.644269442348146|   1.41796354547385|   1.0743803763556|-0.492199018495015|  0.948934094764157|  0.428118462833089|    1.12063135838353| -3.80786423873589| 0.615374730667027|   1.24937617815176|-0.619467796121913| 0.291474353088705|  1.75796421396042| -1.32386521970526| 0.686132504394383|-0.0761269994382006|   -1.2221273453247| -0.358221569869078|  0.324504731321494| -0.156741852488285|    1.94346533978412|  -1.01545470979971|  0.057503529867291|-0.649709005559993| -0.415266566234811|-0.0516342969262494|   -1.20692108094258|  -1.08533918832377|  40.8|    0|
| 7.0| -0.89428608220282|  0.286157196276544|-0.113192212729871|-0.271526130088604|    2.6695986595986|   3.72181806112751|   0.370145127676916| 0.851084443200905|-0.392047586798604| -0.410430432848439|-0.705116586646536|-0.110452261733098|-0.286253632470583|0.0743553603016731|-0.328783050303565| -0.210077268148783| -0.499767968800267|  0.118764861004217|   0.57032816746536| 0.0527356691149697| -0.0734251001059225| -0.268091632235551| -0.204232669947878|   1.0115918018785|  0.373204680146282| -0.384157307702294|  0.0117473564581996|   0.14240432992147|  93.2|    0|
| 9.0| -0.33826175242575|   1.11959337641566|  1.04436655157316|-0.222187276738296|   0.49936080649727|  -0.24676110061991|   0.651583206489972|0.0695385865186387|-0.736727316364109| -0.366845639206541|  1.01761446783262| 0.836389570307029|  1.00684351373408|-0.443522816876142| 0.150219101422635|  0.739452777052119| -0.540979921943059|   0.47667726004282|  0.451772964394125|  0.203711454727929|  -0.246913936910008| -0.633752642406113|  -0.12079408408185|-0.385049925313426|-0.0697330460416923| 0.0941988339514961|   0.246219304619926| 0.0830756493473326|  3.68|    0|
+----+------------------+-------------------+------------------+------------------+-------------------+-------------------+--------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------+-----+
only showing top 10 rows

In [14]:
df.printSchema() #information about data same as .info()

root
 |-- Time: double (nullable = true)
 |-- V1: double (nullable = true)
 |-- V2: double (nullable = true)
 |-- V3: double (nullable = true)
 |-- V4: double (nullable = true)
 |-- V5: double (nullable = true)
 |-- V6: double (nullable = true)
 |-- V7: double (nullable = true)
 |-- V8: double (nullable = true)
 |-- V9: double (nullable = true)
 |-- V10: double (nullable = true)
 |-- V11: double (nullable = true)
 |-- V12: double (nullable = true)
 |-- V13: double (nullable = true)
 |-- V14: double (nullable = true)
 |-- V15: double (nullable = true)
 |-- V16: double (nullable = true)
 |-- V17: double (nullable = true)
 |-- V18: double (nullable = true)
 |-- V19: double (nullable = true)
 |-- V20: double (nullable = true)
 |-- V21: double (nullable = true)
 |-- V22: double (nullable = true)
 |-- V23: double (nullable = true)
 |-- V24: double (nullable = true)
 |-- V25: double (nullable = true)
 |-- V26: double (nullable = true)
 |-- V27: double (nullable = true)
 |-- V28: double (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Class: integer (nullable = true)

In [15]:
len(df.columns) #Length of the columns

31

In [16]:
df.select("Time").show(10) #Viewing time column

+----+
|Time|
+----+
| 0.0|
| 0.0|
| 1.0|
| 1.0|
| 2.0|
| 2.0|
| 4.0|
| 7.0|
| 7.0|
| 9.0|
+----+
only showing top 10 rows

In [20]:
df.select(["V"+str(x) for x in range(1,10)]).show(10) #List comprehension to get values from V1 TO V10

+------------------+-------------------+------------------+------------------+-------------------+-------------------+--------------------+------------------+------------------+
|                V1|                 V2|                V3|                V4|                 V5|                 V6|                  V7|                V8|                V9|
+------------------+-------------------+------------------+------------------+-------------------+-------------------+--------------------+------------------+------------------+
|  -1.3598071336738|-0.0727811733098497|  2.53634673796914|  1.37815522427443| -0.338320769942518|  0.462387777762292|   0.239598554061257|0.0986979012610507| 0.363786969611213|
|  1.19185711131486|   0.26615071205963|  0.16648011335321| 0.448154078460911| 0.0600176492822243|-0.0823608088155687| -0.0788029833323113|0.0851016549148104|-0.255425128109186|
| -1.35835406159823|  -1.34016307473609|  1.77320934263119| 0.379779593034328| -0.503198133318193|   1.80049938079263|   0.791460956450422| 0.247675786588991| -1.51465432260583|
|-0.966271711572087| -0.185226008082898|  1.79299333957872|-0.863291275036453|-0.0103088796030823|   1.24720316752486|    0.23760893977178| 0.377435874652262| -1.38702406270197|
| -1.15823309349523|  0.877736754848451|    1.548717846511| 0.403033933955121| -0.407193377311653| 0.0959214624684256|   0.592940745385545|-0.270532677192282| 0.817739308235294|
|-0.425965884412454|  0.960523044882985|  1.14110934232219|-0.168252079760302|   0.42098688077219|-0.0297275516639742|   0.476200948720027| 0.260314333074874| -0.56867137571251|
|  1.22965763450793|  0.141003507049326|0.0453707735899449|  1.20261273673594|  0.191880988597645|  0.272708122899098|-0.00515900288250983|0.0812129398830894| 0.464959994783886|
|-0.644269442348146|   1.41796354547385|   1.0743803763556|-0.492199018495015|  0.948934094764157|  0.428118462833089|    1.12063135838353| -3.80786423873589| 0.615374730667027|
| -0.89428608220282|  0.286157196276544|-0.113192212729871|-0.271526130088604|    2.6695986595986|   3.72181806112751|   0.370145127676916| 0.851084443200905|-0.392047586798604|
| -0.33826175242575|   1.11959337641566|  1.04436655157316|-0.222187276738296|   0.49936080649727|  -0.24676110061991|   0.651583206489972|0.0695385865186387|-0.736727316364109|
+------------------+-------------------+------------------+------------------+-------------------+-------------------+--------------------+------------------+------------------+
only showing top 10 rows

In [21]:
df_pandas=df.toPandas()  #converting into Pandas Data Frame

In [22]:
df_pandas.head(10) #using head beacause it is pandas Df

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0
5   2.0 -0.425966  0.960523  1.141109  ...  0.253844  0.081080    3.67      0
6   4.0  1.229658  0.141004  0.045371  ...  0.034507  0.005168    4.99      0
7   7.0 -0.644269  1.417964  1.074380  ... -1.206921 -1.085339   40.80      0
8   7.0 -0.894286  0.286157 -0.113192  ...  0.011747  0.142404   93.20      0
9   9.0 -0.338262  1.119593  1.044367  ...  0.246219  0.083076    3.68      0

[10 rows x 31 columns]

In [23]:
from pyspark.ml import pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import HashingTF,Tokenizer
from pyspark.ml.tuning import CrossValidator,ParamGridBuilder
from pyspark.ml.feature import VectorAssembler

In [24]:
df.columns[1:-1]

['V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'Amount']

In [25]:
#Converting Strings into float

from pyspark.sql.functions import col
for col_name in df.columns[1:-1]+["Class"]:
  df=df.withColumn(col_name,col(col_name).cast('float'))

In [26]:
#Renaming the columns
df=df.withColumnRenamed("Class","label")

In [27]:
#Combining list of columns into one colimn

vectorAssembler=VectorAssembler(inputCols=df.columns[1:-1],outputCol='features')
df_tr=vectorAssembler.transform(df)
df_tr=df_tr.select(['features','label'])
df_tr.show(3)

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[-1.3598071336746...|  0.0|
|[1.19185709953308...|  0.0|
|[-1.3583540916442...|  0.0|
+--------------------+-----+
only showing top 3 rows

In [28]:
df_tr.show(2,truncate=False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|features                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |label|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|[-1.3598071336746216,-0.07278117537498474,2.536346673965454,1.37815523147583,-0.3383207619190216,0.4623877704143524,0.23959855735301971,0.09869790077209473,0.3637869656085968,0.0907941684126854,-0.5515995621681213,-0.6178008317947388,-0.9913898706436157,-0.3111693561077118,1.4681769609451294,-0.47040051221847534,0.2079712450504303,0.025790579617023468,0.4039929509162903,0.2514120936393738,-0.018306778743863106,0.2778375744819641,-0.11047390848398209,0.06692807376384735,0.12853935360908508,-0.18911483883857727,0.13355837762355804,-0.021053053438663483,149.6199951171875]      |0.0  |
|[1.191857099533081,0.26615071296691895,0.16648010909557343,0.448154091835022,0.060017649084329605,-0.08236081153154373,-0.07880298048257828,0.0851016566157341,-0.2554251253604889,-0.16697441041469574,1.6127266883850098,1.0652352571487427,0.489095002412796,-0.14377228915691376,0.6355580687522888,0.4639170467853546,-0.11480466276407242,-0.18336127698421478,-0.14578303694725037,-0.06908313184976578,-0.22577524185180664,-0.6386719346046448,0.10128802061080933,-0.3398464620113373,0.16717040538787842,0.12589453160762787,-0.008983098901808262,0.014724168926477432,2.690000057220459]|0.0  |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
only showing top 2 rows

In [29]:
lr=LogisticRegression(maxIter=10,featuresCol='features',labelCol='label')

In [30]:
model=lr.fit(df_tr)

In [31]:
print(model.summary.areaUnderROC)

0.978163294061937

In [33]:
#Builder for a param grid used in grid search-based model selection.

parmGrid=ParamGridBuilder()\
.addGrid(lr.regParam,[0.1,0.01])\
.addGrid(lr.fitIntercept,[False,True])\
.addGrid(lr.elasticNetParam,[0.0,0.5,1.0])\
.build()

In [35]:
#cross validation performs model selection by splitting the dataset into a set of non-overlapping randomly partitioned folds which are used as separate training and test datasets
corssval=CrossValidator(estimator=lr,
                        estimatorParamMaps=parmGrid,
                        evaluator=BinaryClassificationEvaluator(),     #Evaluator for binary classification, which expects input columns rawPrediction, label and an optional weight column. The rawPrediction column can be of type double (binary 0/1 prediction, or probability of label 1) or of type vector (length-2 vector of raw predictions, scores, or label probabilities).
                        numFolds=2)

In [36]:
cvModel=corssval.fit(df_tr)

In [37]:
cvModel.avgMetrics

[0.8827454264812491,
 0.5586927715930218,
 0.5586933974052224,
 0.9780995398019225,
 0.5,
 0.5,
 0.8667457434301385,
 0.7989843418840873,
 0.6589345800846083,
 0.979951123673916,
 0.9488317382396096,
 0.9059568326315053]